SAP_SL_BASE_URL=
SAP_SL_COMPANY_DB=
SAP_SL_USERNAME=
SAP_SL_PASSWORD=
SAP_SL_VERIFY_SSL=false
SAP_SL_TIMEOUT=30
SAP_GOODS_RECEIPT_DRAFT_SERIES=17
SAP_GOODS_RECEIPT_DRAFT_OBJECT_CODE=oPurchaseDeliveryNotes
SAP_DRAFT_QA_COMPANY_DB=

SAP_HANA_SERVER_ADDRESS=
SAP_HANA_SERVER_PORT=30015
SAP_HANA_COMPANY_DB=
SAP_HANA_DB_USERNAME=
SAP_HANA_DB_PASSWORD=
