<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <handlers>
      <add name="TERRAVIEW"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Dev\TERRAVIEW\venv\Scripts\python.exe|C:\Dev\TERRAVIEW\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <httpErrors errorMode="Detailed" />
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="core.wsgi.application" />
    <add key="PYTHONPATH" value="C:\Dev\TERRAVIEW" />
    <add key="DJANGO_SETTINGS_MODULE" value="core.settings" />
    <add key="WSGI_LOG" value="C:\Dev\TERRAVIEW\logs\wfastcgi.log" />
  </appSettings>

</configuration>