<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  <handlers>
    <add name="Python FastCGI" 
    path="*" 
    verb="*" 
    modules="FastCgiModule"
    scriptProcessor="C:\NRN\Ambientes\terramar_camiones\Scripts\python.exe|C:\NRN\Ambientes\terramar_camiones\Lib\site-packages\wfastcgi.py"
    resourceType="Unspecified" 
    requireAccess="Script"/>
  </handlers>
</system.webServer>

<appSettings>
  <add key="PYTHONPATH" value="c:\inetpub\wwwroot\TERRAMAR-CAMIONES"/>
  <add key="WSGI_HANDLER" value="core.wsgi.application"/>
  <add key="DJANGO_SETTINGS_MODULE" value="core.settings"/>
  <add key="PATH" value="c:\inetpub\wwwroot\TERRAMAR-CAMIONES\gtk\bin;%PATH%"/>
</appSettings>

</configuration>