{% load permission_filters %}
<ul class="nav pcoded-inner-navbar ">
    <li class="nav-item pcoded-menu-caption">
        <label>Sistema</label>
    </li>

    {% if request.user|es_operador_romana %}
    <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Inicio</span></a>
    </li>

    <li class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-industry"></i></span><span class="pcoded-mtext">Operaci&oacute;n Planta</span></a>
        <ul class="pcoded-submenu">
            <li>
                <a href="{% url 'cit_listall_recepciones' %}?contexto=operacion_planta&tipo=RECEPCION{% if request.session.empresa_id %}&empresa_id={{ request.session.empresa_id }}&_empresa_id={{ request.session.empresa_id }}{% endif %}">
                    Bandeja Operaci&oacute;n Planta
                </a>
            </li>
            <li>
                <a href="{% url 'cit_listall_recepciones' %}?contexto=operacion_planta_terminadas&tipo=RECEPCION{% if request.session.empresa_id %}&empresa_id={{ request.session.empresa_id }}&_empresa_id={{ request.session.empresa_id }}{% endif %}">
                    <i class="fas fa-history mr-1"></i> Bandeja Operaciones Terminadas
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="{% url 'seguimiento_operacional' %}" class="nav-link "><span class="pcoded-micon"><i class="fas fa-route"></i></span><span class="pcoded-mtext">Seguimiento Operacional</span></a>
    </li>

    <li class="nav-item">
        <a href="{% url 'expediente_citacion_list' %}" class="nav-link "><span class="pcoded-micon"><i class="fas fa-folder-open"></i></span><span class="pcoded-mtext">Biblioteca de citaciones</span></a>
    </li>
    {% include 'includes/sidebar-searches.html' %}
    {% else %}
    
    <li class="nav-item pcoded-hasmenu">
        <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Inicio</span></a>
        <ul class="pcoded-submenu">
            <li><a href="{% url 'home' %}">Panel principal</a></li>
            <li><a href="{% url 'dashboard_grafico' %}">Ver planta</a></li>
        </ul>
    </li>

    {% if request.user|has_vista:'PLANIFICACIONES' or request.user|es_planificador or request.user|es_usuario_maesc or request.user|es_ingreso_camion or request.user|es_asistente_despacho_empresa:request.session.empresa_id or request.user.is_superuser == 1 %}
    <li class="nav-item pcoded-hasmenu {% if request.GET.tipo == 'RECEPCION' or request.GET.tipo == 'DESPACHO' or request.GET.flujo == 'TRANSFERENCIA' or request.resolver_match.url_name == 'planificacion_recepcion_transferencia' or request.resolver_match.url_name == 'planificacion_new_jersey_p2' %}pcoded-trigger{% endif %}">
        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-tasks"></i></span><span class="pcoded-mtext">{% if request.user|prioriza_planificacion_empresa:request.session.empresa_id %}Planificaciones{% elif request.user|es_ingreso_camion or request.user|es_asistente_despacho_empresa:request.session.empresa_id %}Ingreso de cami&oacute;n{% else %}Planificaciones{% endif %}</span></a>
        <ul class="pcoded-submenu">
            {% if request.user|es_guardia or request.user|es_asistente_recepcion or request.user|es_asistente_despacho_empresa:request.session.empresa_id or request.user|es_asistente_cd or request.user|es_planificador or request.user|es_usuario_maesc or request.user.is_superuser == 1 %}
                <li><a href="{% url 'camiones_patio_control' %}{% if request.session.empresa_id %}?_empresa_id={{ request.session.empresa_id }}{% endif %}">Control de cami&oacute;n</a></li>
            {% endif %}
            {% if request.user|es_asistente_recepcion or request.user|es_asistente_despacho_empresa:request.session.empresa_id or request.user.is_superuser == 1 %}
                <li><a href="{% url 'camiones_patio_registrar' %}{% if request.session.empresa_id %}?_empresa_id={{ request.session.empresa_id }}{% endif %}">Registrar cami&oacute;n en patio</a></li>
            {% endif %}
            {% if request.user|es_asistente_recepcion or request.user|es_asistente_despacho_empresa:request.session.empresa_id or request.user.is_superuser == 1 %}
                <li><a href="{% url 'camiones_patio_list' %}{% if request.session.empresa_id %}?_empresa_id={{ request.session.empresa_id }}{% endif %}">Camiones en Patio</a></li>
            {% endif %}
            {% if request.user|es_ingreso_camion and not request.user|prioriza_planificacion_empresa:request.session.empresa_id or request.user|es_asistente_despacho_empresa:request.session.empresa_id and not request.user|prioriza_planificacion_empresa:request.session.empresa_id %}
                <li class="{% if request.GET.tipo == 'RECEPCION' %}active{% endif %}"><a href="{% url 'pla_listall' %}?tipo=RECEPCION{% if request.session.empresa_id %}&_empresa_id={{ request.session.empresa_id }}{% endif %}">Recepci&oacute;n</a></li>
                <li class="{% if request.GET.tipo == 'DESPACHO' %}active{% endif %}"><a href="{% url 'pla_listall' %}?tipo=DESPACHO{% if request.session.empresa_id %}&_empresa_id={{ request.session.empresa_id }}{% endif %}">Despacho</a></li>
            {% endif %}
            {% if request.user|prioriza_planificacion_empresa:request.session.empresa_id or not request.user|es_ingreso_camion and not request.user|es_asistente_despacho_empresa:request.session.empresa_id %}
                <li class="nav-item pcoded-hasmenu {% if request.GET.tipo == 'RECEPCION' or request.GET.flujo == 'TRANSFERENCIA' or request.resolver_match.url_name == 'planificacion_recepcion_transferencia' or request.resolver_match.url_name == 'planificacion_new_jersey_p2' %}pcoded-trigger{% endif %}">
                    <a href="#" class="nav-link">Planificaciones</a>
                    <ul class="pcoded-submenu">
                        {% if not request.user|planifica_solo_despacho_sbh:request.session.empresa_id %}
                            {% if request.session.empresa_id == 2 and request.user|es_planificador %}
                                <li class="pcoded-hasmenu {% if request.GET.tipo == 'RECEPCION' or request.GET.flujo == 'TRANSFERENCIA' or request.resolver_match.url_name == 'planificacion_recepcion_transferencia' or request.resolver_match.url_name == 'planificacion_new_jersey_p2' %}pcoded-trigger{% endif %}">
                                    <a href="#!">Recepci&oacute;n</a>
                                    <ul class="pcoded-submenu">
                                        <li class="{% if request.GET.tipo == 'RECEPCION' and request.GET.flujo != 'TRANSFERENCIA' %}active{% endif %}"><a href="{% url 'pla_listall' %}?tipo=RECEPCION&flujo=INGRESO_MERCADERIA&_empresa_id=2">Ingreso de mercader&iacute;a</a></li>
                                        <li class="{% if request.resolver_match.url_name == 'planificacion_new_jersey_p2' %}active{% endif %}"><a href="{% url 'planificacion_new_jersey_p2' %}?_empresa_id=2">New Jersey Pendientes</a></li>
                                        <li class="{% if request.GET.flujo == 'TRANSFERENCIA' or request.resolver_match.url_name == 'planificacion_recepcion_transferencia' %}active{% endif %}"><a href="{% url 'planificacion_recepcion_transferencia' %}?_empresa_id=2">Transferencia</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{% url 'pla_listall' %}?tipo=RECEPCION{% if request.session.empresa_id %}&_empresa_id={{ request.session.empresa_id }}{% endif %}">Recepci&oacute;n</a></li>
                            {% endif %}
                        {% endif %}
                        <li class="{% if request.GET.tipo == 'DESPACHO' %}active{% endif %}"><a href="{% url 'pla_listall' %}?tipo=DESPACHO{% if request.session.empresa_id %}&_empresa_id={{ request.session.empresa_id }}{% endif %}">Despacho</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if request.user.is_superuser == 1 %}
                <li><a href="{% url 'camiones_patio_mapa' %}{% if request.session.empresa_id %}?_empresa_id={{ request.session.empresa_id }}{% endif %}">Mapa Camiones Patio</a></li>
            {% endif %}
            {% if request.user|prioriza_planificacion_empresa:request.session.empresa_id or not request.user|es_ingreso_camion and not request.user|es_asistente_despacho_empresa:request.session.empresa_id %}
                <li><a href="{% url 'pla_filedlistall' %}">Planificaciones archivadas</a></li>
            {% endif %}
        </ul>
    </li>
    {% endif %}

    {% if request.session.empresa_id == 1 or request.session.empresa_id == 2 %}
    {% if request.user|es_asistente_recepcion_rbac or request.user|es_planificador or request.user.is_superuser %}
    <li class="nav-item pcoded-hasmenu {% if request.resolver_match.url_name == 'recepcion_servicio_registro' %}pcoded-trigger{% endif %}">
        <a href="#" class="nav-link"><span class="pcoded-micon"><i class="fas fa-concierge-bell"></i></span><span class="pcoded-mtext">Recepci&oacute;n Servicio</span></a>
        <ul class="pcoded-submenu">
            {% if request.user|es_asistente_recepcion_rbac or request.user.is_superuser %}<li><a href="{% url 'recepcion_servicio_registro' %}?_empresa_id={{ request.session.empresa_id }}">Registro de cami&oacute;n</a></li>{% endif %}
            <li><a href="{% url 'recepcion_servicio_registro' %}?section=planificacion&amp;_empresa_id={{ request.session.empresa_id }}">Planificaci&oacute;n</a></li>
        </ul>
    </li>
    {% endif %}
    {% endif %}

    {% if not request.user|es_usuario_maesc %}
    {% if request.user|has_perfil:'CONTROL_FLOTA' or request.user|es_planificador or request.user|es_asistente_recepcion_rbac %}
    <li class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-shipping-fast"></i></span><span class="pcoded-mtext">Control Flota</span></a>
        <ul class="pcoded-submenu">
            {% if request.user|has_vista:'PROVEEDOR' or request.user|es_asistente_recepcion_rbac %}
            <li><a href="{% url 'pro_listall' %}{% if request.session.empresa_id %}?_empresa_id={{ request.session.empresa_id }}{% endif %}">Transporte</a></li>
            {% endif %}
            {% if request.user|has_vista:'CONDUCTOR' or request.user|es_asistente_recepcion_rbac %}
            <li class="pcoded-hasmenu">
                <a href="#">Tripulaci&oacute;n y camiones</a>
                <ul class="pcoded-submenu">
                    <li><a href="{% url 'con_listall' %}{% if request.session.empresa_id %}?_empresa_id={{ request.session.empresa_id }}{% endif %}">Conductores</a></li>
                    {% if request.user|has_perfil:'CONTROL_FLOTA' %}
                    <li><a href="{% url 'cam_listall' %}">Camiones</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if request.user|has_perfil:'CONTROL_FLOTA' %}
            {% if request.user|has_vista:'TARIFAS' %}
            <li><a href="{% url 'tg_listall' %}">Tarifas Globales</a></li>
            <li><a href="{% url 'tg_listall_inhabilitado' %}">Tarifas inhabilitadas</a></li>
            {% endif %}
            {% if request.user|has_vista:'RUTAS' %}
            <li><a href="{% url 'rut_listall' %}">Rutas</a></li>
            {% endif %}
            {% endif %}
        </ul>
    </li>
    {% endif %}

    {% if not request.user|has_perfil:'CONTROL_FLOTA' and not request.user|es_planificador and not request.user|es_asistente_recepcion_rbac %}
    {% if request.user|has_vista:'PROVEEDOR' or request.user.is_superuser == 1 %}
    <li class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-user-lock"></i></span><span class="pcoded-mtext">Proveedor</span></a>
        <ul class="pcoded-submenu">
            <li><a href="{% url 'pro_listall' %}">Proveedor</a></li> <!--Si-->
            <li><a href="{% url 'pro_listall_inhabilitado' %}">Proveedores eliminados</a></li> <!--No-->
        </ul>
    </li>
    {% endif %}
    
    {% if request.user|has_vista:'CLIENTE' or request.user.is_superuser == 1 %}
    <li class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-user-tie"></i></span><span class="pcoded-mtext">Cliente</span></a>
        <ul class="pcoded-submenu">
            <li><a href="{% url 'cli_listall' %}">Cliente</a></li>
            <li><a href="{% url 'cli_listall_inhabilitado' %}">Clientes eliminados</a></li>
        </ul>
    </li>
    {% endif %}
    
    {% if request.user|has_vista:'CONDUCTOR' or request.user.is_superuser == 1 %}
    <li class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-truck"></i></span><span class="pcoded-mtext">Tripulación y Camión</span></a>
        <ul class="pcoded-submenu">
            <li><a href="{% url 'con_listall' %}">Conductor</a></li>
            <li><a href="{% url 'con_listall_inhabilitado' %}">Conductores eliminados</a></li>
            <li><a href="{% url 'cam_listall' %}">Camión</a></li>
            <li><a href="{% url 'cam_listall_inhabilitado' %}">Camiones eliminados</a></li>
        </ul>
    </li>
    {% endif %}
    
    {% if request.user|has_vista:'TARIFAS' or request.user.is_superuser == 1 %}
    <li class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-dollar-sign"></i></span><span class="pcoded-mtext">Tarifas Globales</span></a>
        <ul class="pcoded-submenu">
            <li><a href="{% url 'tg_listall' %}">Tarifa</a></li>
            <li><a href="{% url 'tg_listall_inhabilitado' %}">Tarifas eliminadas</a></li>
        </ul>
    </li>
    {% endif %}
    
    {% if request.user|has_vista:'RUTAS' or request.user.is_superuser == 1 %}
    <li class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-route"></i></span><span class="pcoded-mtext">Rutas</span></a>
        <ul class="pcoded-submenu">
            <li><a href="{% url 'rut_listall' %}">Rutas</a></li>
            <li><a href="{% url 'rut_listall_inhabilitado' %}">Rutas eliminadas</a></li>
        </ul>
    </li>
    {% endif %}
    {% endif %}
    
    {% if request.user|has_vista:'CALENDARIO' or request.user.is_superuser == 1 %}
    <li class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-calendar-alt"></i></span><span class="pcoded-mtext">Calendario</span></a>
        <ul class="pcoded-submenu">
            <li><a href="{% url 'cal_listall' %}">Calendario</a></li>
        </ul>
    </li>
    {% endif %}
    
    
    {% if request.user|has_vista:'CITACION' or request.user|es_operacion_planta or request.user|es_asistente_despacho_terramar or request.user.is_superuser == 1 %}
    <li class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-industry"></i></span><span class="pcoded-mtext">Operaci&oacute;n Planta</span></a>
        <ul class="pcoded-submenu">
            <li>
                <a href="{% url 'cit_listall_recepciones' %}?contexto=operacion_planta&tipo=RECEPCION{% if request.session.empresa_id %}&empresa_id={{ request.session.empresa_id }}&_empresa_id={{ request.session.empresa_id }}{% endif %}">
                    Bandeja Operaci&oacute;n Planta
                </a>
            </li>
            <li>
                <a href="{% url 'cit_listall_recepciones' %}?contexto=operacion_planta_terminadas&tipo=RECEPCION{% if request.session.empresa_id %}&empresa_id={{ request.session.empresa_id }}&_empresa_id={{ request.session.empresa_id }}{% endif %}">
                    <i class="fas fa-history mr-1"></i> Bandeja Operaciones Terminadas
                </a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% endif %}

    <li class="nav-item">
        <a href="{% url 'seguimiento_operacional' %}" class="nav-link "><span class="pcoded-micon"><i class="fas fa-route"></i></span><span class="pcoded-mtext">Seguimiento Operacional</span></a>
    </li>
    <li class="nav-item">
        <a href="{% url 'expediente_citacion_list' %}" class="nav-link "><span class="pcoded-micon"><i class="fas fa-folder-open"></i></span><span class="pcoded-mtext">Biblioteca de citaciones</span></a>
    </li>

    {% if not request.user|es_usuario_maesc %}
    {% if request.user|tiene_permiso_pro_cit:'proforma_citaciones' or request.user|has_vista:'PROFORMAS' or request.user.is_superuser == 1 %}
    <li class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-file-invoice-dollar"></i></span><span class="pcoded-mtext">Proformas</span></a>
        <ul class="pcoded-submenu">
            {% if request.user|tiene_permiso_pro_cit:'proforma_citaciones' %}
            <li><a href="{% url 'proforma_citaciones_terminadas' %}">Citaciones terminadas</a></li>
            <li><a href="{% url 'prof_listall' %}">Lista de Proformas</a></li>
            <li><a href="{% url 'proforma_historico' %}">Hist&oacute;ricos de Proformas</a></li>
            {% else %}
                <li><a href="{% url 'prof_listall' %}">Lista de Proformas</a></li>
            <li><a href="{% url 'proforma_historico' %}">Hist&oacute;ricos de Proformas</a></li>
                {% if request.user|has_vista:'PROFORMAS' or request.user.is_superuser == 1 %}
            <li><a href="{% url 'proforma_extras_listall' %}">Extras</a></li>
            <li><a href="{% url 'proforma_manual_add' %}">Manual</a></li>
            <li><a href="{% url 'proforma_listall_borrador' %}">Borradores</a></li>
            <li><a href="{% url 'proforma_listall' %}">Proformas</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </li>
    {% endif %}
    {% endif %}

    {% include 'includes/sidebar-searches.html' %}
    
    {% if not request.user|es_usuario_maesc %}
    {% if request.user|has_vista:'DOCUMENTACION' or request.user.is_superuser == 1 %}
    <li class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-folder"></i></span><span class="pcoded-mtext">Documentación</span></a>
        <ul class="pcoded-submenu">
            <li><a href="{% url 'doc_listall' %}">Tipos de documentos</a></li>
        </ul>
    </li>
    {% endif %}
    
    {% if request.user|has_vista:'EMPRESA' or request.user.is_superuser == 1 %}
    <li class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-building"></i></span><span class="pcoded-mtext">Empresa</span></a>
        <ul class="pcoded-submenu">
            <li><a href="{% url 'emp_listall' %}">Empresa</a></li>
        </ul>
    </li>
    {% endif %}
    
    {% if request.user|has_vista:'EMPRESA' or request.user.is_superuser == 1 %}
    <li class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-building"></i></span><span class="pcoded-mtext">Relacion Usuario - Empresa</span></a>
        <ul class="pcoded-submenu">
            <li><a href="{% url 'us_emp_listall' %}">Relacion Usuario - Empresa</a></li>
        </ul>
    </li>
    {% endif %}

    {% if request.user.is_superuser %}
        <li class="nav-item pcoded-hasmenu">
            <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-building"></i></span><span class="pcoded-mtext">Parametro</span></a>
            <ul class="pcoded-submenu">
                <li><a href="{% url 'parametro_list' %}">Parametros</a></li>
            </ul>
        </li>
    {% endif %}
    
    {% if request.user|has_vista:'SECUENCIA' or request.user.is_superuser == 1 %}
    <li class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-random"></i></span><span class="pcoded-mtext">Secuencias</span></a>
        <ul class="pcoded-submenu">
            <li class="nav-item pcoded-hasmenu">
                <a href="#" class="nav-link">Campos</a>
                <ul class="pcoded-submenu">
                    <li><a href="{% url 'camp_listall' %}">Campos</a></li>
                    <li><a href="{% url 'camp_op_listall' %}">Opciones Campos</a></li>
                </ul>
            </li>
            
            {% if request.user|has_vista:'ETAPA' or request.user.is_superuser == 1 %}
            <li class="nav-item pcoded-hasmenu">
                <a href="#" class="nav-link">Etapas</a>
                <ul class="pcoded-submenu">
                    <li><a href="{% url 'etap_listall' %}">Etapas</a></li>
                    <li><a href="{% url 'det_etap_listall' %}">Detalle Etapas</a></li>
                </ul>
            </li>
            {%endif%}

            <li class="nav-item pcoded-hasmenu">
                <a href="#" class="nav-link">Secuencias</a>
                <ul class="pcoded-submenu">
                    <li><a href="{% url 'sec_listall' %}">Secuencia</a></li>
                    <li><a href="{% url 'det_sec_listall' %}">Detalle Secuencia</a></li>
                </ul>
            </li>
        </ul>
    </li>
    {% endif %}
    
    {% if request.user|has_vista:'PERFILAMIENTO' or request.user.is_superuser == 1 %}
    <li class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-user-cog"></i></span><span class="pcoded-mtext">Perfiles</span></a>
        <ul class="pcoded-submenu">
            <li class="nav-item">
                <a href="{% url 'per_listall' %}" class="nav-link">Perfiles</a>
            </li>
            <li class="nav-item pcoded-hasmenu">
                <a href="#" class="nav-link">Asignaciones</a>
                <ul class="pcoded-submenu">
                    <li><a href="{% url 'per_assi_perm_prof' %}">Permisos Perfil</a></li>
                    <li><a href="{% url 'per_assi_us_prof' %}">Usuarios Perfil</a></li>
                </ul>
            </li>
            
            {% if request.user|has_vista:'USUARIOS' or request.user.is_superuser == 1 %}
            <li class="nav-item pcoded-hasmenu">
                <a href="#" class="nav-link">Usuarios</a>
                <ul class="pcoded-submenu">
                    <li><a href="{% url 'usr_listall' %}">Usuarios</a></li>
                    <li><a href="{% url 'usr_addone' %}">Agregar Usuario</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
    
    {% if request.user|has_vista:'ZONAS' or request.user.is_superuser == 1 %}
    <li class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-map-marker-alt"></i></span><span class="pcoded-mtext">Zonas</span></a>
        <ul class="pcoded-submenu">
            <li><a href="{% url 'zon_listall' %}">Zonas</a></li>
        </ul>
    </li>
    {% endif %}
    {% endif %}
    {% endif %}
</ul>
