
    <div class="dropdown drp-user">
        <a href="#!" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/static/assets/images/user/avatar-5.jpg" class="img-radius wid-40" alt="User-Profile-Image">
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-notification">
            <div class="pro-head">
                <img src="/static/assets/images/user/avatar-5.jpg" class="img-radius" alt="User-Profile-Image">
                <span>
                    {{ request.user.username }}
                </span>
            </div>
            <ul class="pro-body">
                <li>
                    <a href="{% url 'cambio_contraseña' %}" class="btn btn-primary"><i class="feather icon-lock"></i>&nbsp;&nbsp;&nbsp;Recuperar contraseña</a>
                </li>
                <hr>
                <li>
                    <form method="POST" action="{% url 'logout' %}" id="form-logout" onsubmit="limpiarLogoutStorage()">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" style="width: 100%;"><i class="feather icon-log-out"></i>&nbsp;&nbsp;&nbsp;Cerrar sesión</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
