{% load permission_filters %}

    <div class="dropdown drp-user">
        <a href="#!" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/static/assets/images/user/logo_terramar.png?v=20260527-2" class="img-radius wid-40 user-menu-avatar" alt="User-Profile-Image">
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-notification">
            <div class="pro-head">
                <img src="/static/assets/images/user/logo_terramar.png?v=20260527-2" class="img-radius user-menu-avatar" alt="User-Profile-Image">
                <span>
                    {{ request.user|nombre_usuario_visible }}
                </span>
            </div>
            <ul class="pro-body">
                <li>
                    <form method="POST" action="{% url 'logout' %}" id="form-logout" onsubmit="limpiarLogoutStorage()">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" style="width: 100%;"><i class="feather icon-log-out"></i>&nbsp;&nbsp;&nbsp;Cerrar sesión</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
