{% load permission_filters %}
    <!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed navbar-dark ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<!-- The Inner links -->
				{% include 'includes/component-navbar-inner.html' %}
				<div class="card text-center">
					<div class="card-block">
						<i class="fas fa-tasks"></i>
						<h6 class="mt-3">
							&iquest;Planificaciones?
						</h6>
						<p>
							Planifica tus citaciones.
						</p>
						{% if request.user.is_superuser == 1 or request.user|es_ingreso_camion or request.user.userv.UX_IS_PLANIFICADOR == 1 or request.user.userv.UX_IS_RECEPCIONISTA == 1 or request.user.userv.UX_IS_CLIENTE == 1 or request.user.userv.UX_IS_PROVEEDOR == 1 or request.user.userv.UX_IS_CONDUCTOR == 1 %}
							<a href="{% url 'pla_listall' %}" class="btn btn-primary btn-sm text-white m-0">
								Click Aqu&iacute;
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
