{% extends "layouts/base.html" %}

{% block title %} Tipos de documento {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}		
    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Tipo de documento</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'doc_listall' %}">Tipos de documento</a></li>
                                <li class="breadcrumb-item"><a href="#!">Agregar tipo de documento</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ form-element ] start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Tipo de documento</h5>
                        </div>
                        <div class="card-body">
                            <h5>Ingrese datos</h5>
                            <hr>
                            <div class="row">
                                <div class="col-md-8">
                                    <form method="POST" id="validation-form123"  enctype="multipart/form-data" > 
                                    {% csrf_token %}
                                        {{ form.EP_NID }}
                                        {{ form.non_field_errors }}
                                        
                                        <div class="fieldWrapper">
                                            {{ form.LIS_CNOMBREDOCUMENTO.errors }}
                                            <label class="my-1 me-2" for="{{ form.LIS_CNOMBREDOCUMENTO.id_for_label }}">Nombre documento:</label>
                                            {{form.LIS_CNOMBREDOCUMENTO}}
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ form.LIS_CGRUPO.errors }}
                                            <label class="my-1 me-2" for="{{ form.LIS_CGRUPO.id_for_label }}">Grupo:</label>
                                            {{form.LIS_CGRUPO}}
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ form.LIS_CCODIGO.errors }}
                                            <label class="my-1 me-2" for="{{ form.LIS_CCODIGO.id_for_label }}">Código:</label>
                                            {{form.LIS_CCODIGO}}
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ form.LIS_CFORMATO.errors }}
                                            <label class="my-1 me-2" for="{{ form.LIS_CFORMATO.id_for_label }}">Formato:</label>
                                            {{form.LIS_CFORMATO}}
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ form.LIS_CDESCRIPCION.errors }}
                                            <label class="my-1 me-2" for="{{ form.LIS_CDESCRIPCION.id_for_label }}">Descripción:</label>
                                            {{form.LIS_CDESCRIPCION}}
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ form.LIS_BOBLIGATORIO.errors }}
                                            <label class=" font-weight-bold mr-3">¿Es obligatorio? </label>
                                            <div class="switch switch-success d-inline m-r-10">
                                                <label>No</label>
                                                {{form.LIS_BOBLIGATORIO}}
                                                <label for="switch-s-1" class="cr"></label>
                                            </div>
                                            <label>Si</label>
                                        </div>
                                        <div class="form-group">
                                            {{ form.LIS_BHABILITADO.errors }}
                                            <label class=" font-weight-bold mr-3">¿Habilitado? </label>
                                            <div class="switch switch-success d-inline m-r-10">
                                                <label>No</label>
                                                {{form.LIS_BHABILITADO}}
                                                <label for="switch-s-2" class="cr"></label>
                                            </div>
                                            <label>Si</label>
                                        </div>
                                        {{ form.errors }}
                                        <div class="form-group nav justify-content-end">
                                            <button class="btn btn-success mr-4" 
                                            type="submit">Guardar</button>
                                            <a class="btn btn-danger mr-1"
                                                onclick="window.history.go(-1); return false;">Volver
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ form-element ] end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </section>
    <!-- [ Main Content ] end -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- bootstrap-tagsinput-latest Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="/static/assets/js/plugins/bootstrap-tagsinput.min.js"></script>
    <!-- bootstrap-maxlength Js -->
    <script src="/static/assets/js/plugins/bootstrap-maxlength.js"></script>
    <!-- form-advance custom js -->
    <script src="/static/assets/js/pages/form-advance-custom.js"></script>
    
{% endblock javascripts %}
