{% extends "layouts/base.html" %}

{% block title %} Opciones Campo  {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}		
    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Opciones Campo</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'camp_op_listall' %}">Opciones Campos</a></li>
                                <li class="breadcrumb-item"><a href="#!">Agregar Opciones Campo</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ form-element ] start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Opciones Campo</h5>
                        </div>
                        <div class="card-body">
                            <h5>Ingrese datos</h5>
                            <hr>
                            <div class="row">
                                <div class="col-md-8">
                                    <form method="POST" id="validation-form123"  enctype="multipart/form-data" > 
                                    {% csrf_token %}
                                        {{ form.non_field_errors }}
                                        <div class="fieldWrapper">
                                            {{ form.subject.errors }}
                                            <label class="my-1 me-2" for="{{ form.subject.0 }}">Empresa:</label>
                                            {{form.visible_fields.0}}
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ form.subject.errors }}
                                            <label class="my-1 me-2" for="{{ form.subject.1 }}">Campo:</label>
                                            {{form.visible_fields.1}}
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ form.subject.errors }}
                                            <label class="my-1 me-2" for="{{ form.subject.2 }}">Tabla:</label>
                                            {{form.visible_fields.2}}
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ form.subject.errors }}
                                            <label class="my-1 me-2" for="{{ form.subject.3 }}">Nombre Campo:</label>
                                            {{form.visible_fields.3}}
                                        </div>
                                        <div class="form-group">
                                            {{ form.subject.errors }}
                                            <label class=" font-weight-bold mr-3">¿Habilitado? </label>
                                            <div class="switch switch-success d-inline m-r-10">
                                                <label>No</label>
                                                {{form.visible_fields.4}}
                                                <label for="switch-s-2" class="cr"></label>
                                            </div>
                                            <label>Si</label>
                                        </div>
                                        {{ form.errors }}
                                        <div class="form-group nav justify-content-end">
                                            <button class="btn btn-success mr-4" 
                                            type="submit">Guardar</button>
                                            <a class="btn btn-danger mr-1"
                                                onclick="window.history.go(-1); return false;">Volver
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ form-element ] end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </section>
    <!-- [ Main Content ] end -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- bootstrap-tagsinput-latest Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="/static/assets/js/plugins/bootstrap-tagsinput.min.js"></script>
    <!-- bootstrap-maxlength Js -->
    <script src="/static/assets/js/plugins/bootstrap-maxlength.js"></script>
    <!-- form-advance custom js -->
    <script src="/static/assets/js/pages/form-advance-custom.js"></script>
    
{% endblock javascripts %}
